@import
"modules/grid",
"modules/fonts",
"modules/mixins",
"modules/colors",

"partials/collector",
"partials/nav",
"partials/result",
"partials/header",
"partials/footer";

body{
    background-image: url('../res/background.jpeg');
    background-size: cover;
    background-position: center;
}


ol {
    display: block; 
    float: left;
}

