@import
"modules/grid",
"modules/fonts",
"modules/mixins",
"modules/colors",

"partials/collector",
"partials/nav",
"partials/result",
"partials/header",
"partials/footer";

body{
    background: $color-bg-main;
}


ol {
    display: block; 
    float: left;
}

