@import "modules/fonts",
"modules/mixins",
"modules/colors";

.footer {
    @include center;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;

    .footer__info {
        font-size: 16px;
        color: #fff;
        font-family: $font-set;
        margin-bottom: 0;
    }

    .footer__links {
        display: flex;
        justify-content: center;
        align-content: space-between;
        font-size: 16px;
        color: #fff;
        font-family: $font-set;
        margin-top: 0;

        .footer__link {
            list-style: none;
            margin: 10px;
            a {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}
@media screen and (max-width : 360px) {
    .footer{
        .footer__info{
            font-size: 16px;
            margin: 10px;
        }
        .footer__links{
            font-size: 12px;
            display: flex;
            flex-direction: column;
            .footer__link{
                margin: 3px;
            }
        }
    }
}