.header{
    @include center;
    flex-direction: column;
    height: 20%;

    .header__title{
        display: flex;
        font-family: $font-set;
        font-size: 80px;
        color: #fff;
        margin: 30px;
    }
    .header__logo{
        width: 150px;
        height: 150px;
        background-color: transparent;
        display: flex;
        transform: rotate(-45deg);
        margin: 50px;
        border: 2px solid #fff;
    }
}