@import
"modules/fonts",
"modules/mixins",
"modules/colors";

.nav{
    @include center;
    height: 60%;
    margin-top: 50px;
    .nav__confirm{
        height: 300px;
        width: 300px;
        transform: rotate(45deg);
        background-color: $color_btn_confirm;
        border: 2px solid #fff;
        border-radius: 2px;
        color: #fff;
        font-family: $font-set;
        font-size:  40px;
        cursor: pointer;
        padding: 0;
       &:hover{
           background-color: $color_btn_confirm_hover;
       }
        .nav__confirm_txt{
            transform: rotate(-45deg);
            margin: 0;
        }
    } 
}

@media screen and (max-width : 360px) {
    .nav{
        .nav__confirm{
            height: 150px;
            width: 150px;
            font-size:  20px;
        }
        .nav__confirm_txt{
            color: #fff;
        }
    }
}