@import "modules/mixins";

.result {
    display: none;
    .result__lader {
        display: none;
        .result__ladder_round{
            display: flex;
            justify-content: space-evenly;
            flex-flow: column;
            .result__ladder_rect{
                @include ladderRect;                
            }
        }
        
    }
}

