@import "modules/mixins";

.result {
    display: none;
    .result__lader {
        display: none;
        .result__ladder_rect{
            @include ladderRect;
            margin: 10px 10px;
        }
    }
}

@for $i from 2 through 5 {
    .result__ladder_rectR#{$i}{
        @include ladderRect;
        margin-top: $i*20px;
    }
}