@font-face {
    font-family: 'webfontregular';
    src: url('../../fonts/colleges-webfont.woff2') format('woff2'),
         url('../../fonts/colleges-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    // CheapProFonts Font License v1.00

}