.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  .row {

    &:after,
    &:before {
      content: "";
      display: table;
      clear: both;
    }

    @for $i from 1 through 12 {
      .col-#{$i} {
        width: (100%/12) * $i;
        float: left;
        min-height: 1px;
      }
    }
  }
}